/*Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html
{
    font-family: Arial, Helvetica, sans-serif;
}
/*
Những thứ cần xác định khi lập trình web
1. Kích thước
2. Vị trí
3. Màu sắc
4. Kiểu dáng (Kiểu chữ, hình dạng)
cách code
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Tổng quan đến chi tiết
*/

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46.5px;
    background-color: #00bcd4;
    z-index: 1;
   
}

#nav{
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}


#nav > li{
    display: inline-block;
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}

#nav li a{
    
    text-decoration: none;
    line-height: 46.5px;
    padding: 0 24px;
    display:inline-block;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
}


#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#nav .subnav a{
    color:#000;
    width: 100%;
    padding: 0 12px;
    line-height: 38px;
}

#header .search-btn{
    float: right;
}

#header .search-btn:hover{
    cursor: pointer;
    background-color: #f44336;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46.5px;
    padding: 0 20px;
}

#slider{
    position: relative;
    margin-top: 46.5px;
    padding-top: 50%;
    /*background: url('/assets/img/slider/slider4.png') top center / cover no-repeat;*/
    animation: backgroundAnimation 5s infinite;

}

@keyframes backgroundAnimation {
    0% {
      background: url('/assets/img/slider/slider4.png') center/cover no-repeat;
    }
    33% {
      background: url('/assets/img/slider/slider5.jpeg') center/cover no-repeat;
    }
    66% {
      background: url('/assets/img/slider/slider6.jpeg') center/cover no-repeat;
    }
    100% {
      background: url('/assets/img/slider/slider4.png') center/cover no-repeat;
    }
}
#slider .text-content {
    position: absolute;
    bottom: 50px;
    color: #fff;
    width: 100%;
    text-align: center;

}

#slider .text-content::after{
    content: "Sự lựa chọn hàng đầu.";
    font-size: 15px;
    text-align: center;
    animation: text-slide 5s infinite;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#content{
    z-index: 1;
}

#content .content-section{
    width: 800px;
    padding: 35px 0 25px 0;
    margin-left: auto;
    margin-right: auto;
}


@keyframes text-slide{
    0%, 25% {
        content: "Sự lựa chọn hàng đầu.";
    }
    50% {
        content: "Uy tín, chất lượng, thân thiện với môi trường.";
    }
    75% {
        content: "Giao hành siêu tốc chỉ trong 15 phút";
    }
    100% {
        content: "Sự lựa chọn hàng đầu.";
    }
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px;
}

#content .section-sub-heading{
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
    line-height: 1.1px;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
}

/* Foods */
#content .fastfoods-list{
    margin-top: 30px;
    overflow: hidden;
}
#content .fastfood-item {
    float:left;
    width: calc(100%/4);
    text-align: center;
}

#content .fastfood-img{
    margin-top: 15px;
    width: 190px;
    margin-bottom: 3px;
    border-radius: 20px ;
}

#content .fastfood-name{
    font-size: 15 px;
    text-align: center;
}

/* Foods */

/* Drinks */
#content .foods-list{
    margin-top: 30px;
    overflow: hidden;
}

#content .food-item {
    float:left;
    width: calc(100%/4);
    text-align: center;
}

#content .food-img{
    margin-top: 15px;
    width: 190px;
    margin-bottom: 3px;
    border-radius: 20px ;
}

#content .food-name{
    font-size: 15 px;
    text-align: center;
}

/* Drinks */
#content .drinks-list{
    margin-top: 30px;
    overflow: hidden;
}

#content .drink-item {
    float:left;
    width: calc(100%/4);
    text-align: center;
}

#content .drink-img{
    margin-top: 15px;
    width: 190px;
    margin-bottom: 3px;
    border-radius: 20px ;
}

#content .drink-name{
    font-size: 15 px;
    text-align: center;
}
#footer{

}

